@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <p>Nancy Toone Flute Studio</p>
    <div class="image">
    <img src="~/Content/Images/Swirls2.png" alt="Swirls" width="1000" height="200">
    </div>
   <div class="row">
       <div class="col-md-4">
           <br />
           <p><a class="btn btn-default" href="@Url.Action("About", "Home")">Preformer</a></p>
       </div>
       <div class=" col-md-4">
           <div class=" image2"> &nbsp; 
               <img src="~/Content/Images/MainNancy.jpg" alt="NancyProfile" width="250" height="250" />
           </div>
       </div>
       <div class="col-md-4">
           <br />
           <p><a class="btn btn-default" href="@Url.Action("Teacher", "Home")">Teacher</a></p>
       </div>
       </div>
</div>

